a .heart {
  margin-left: auto;
  margin-right: auto;
  transition: 350ms;
}

a .heart-removed {
  width: 74px;
  margin-left: -25px;
}
  
.heart-unpressed svg {
  color: rgba(255, 255, 255, 0.35);
}

.heart-pressed svg, 
.heart-pressed:hover svg, 
.heart-unpressed:hover svg {
  color: var(--danger-color);
}