.singular-content-container {
  margin-top: 60px;
  min-width: 100%;
  padding-right: 50px;
}

/* CONTENT-HEADER */
.singular-content-header {
  height: 60px;
  width: 600px;
  background-color: var(--header-color);
  box-shadow: var(--header-box-shadow);
  margin-top: 40px;
  padding: 8px 14px;
  color: var(--text-color);
  font-size: 28px;
  font-weight: 500;
  border-radius: 8px 8px 0 0;
}

.singular-content-playlist-settings {
  float: right;
  color: white;
}

.singular-content-sub-header {
  display: grid;
  grid-template-columns: 1fr 150px;
  height: 45px;
  width: 600px;
  background-color: var(--content-color);
  box-shadow: var(--header-box-shadow);
  padding: 7px 8px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 0;
}

.singular-content-header span,
.singular-content-sub-header span {
  vertical-align: middle;
  margin-left: 0.5rem;
}

/* CONTENT-NAVBAR - LAYOUTS */
.singular-content-layout {
  margin-left: 15px;
  z-index: 1;
}

.singular-content-layout label {
  height: 28px;
  width: 30px;
  border: none;
  border-radius: 0;
  margin-top: 1px;
}

.singular-layout-button-checked {
  background-color: rgba(0, 0, 0, 0.2) !important;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.singular-layout-button-unchecked {
  background-color: transparent !important; 
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.singular-layout-icon {
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 0;
}

#singular-layout-icon-0 { margin: -3px -1px 0 -62px; }
#singular-layout-icon-1 { margin: -3px -1px 0 9px; }

/* CONTENT-TABLE */
.singular-content-table {
  height: 182px;
  width: 600px;
  border-width: 0 1px;
}

.singular-content-table table {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.singular-content-table table:first-of-type {
  float: left;
}

.singular-content-table table svg {
  height: 140px;
  width: 140px;
  background-color: transparent;
  color: var(--hover-light-color);
}

.singular-content-table table tr td {
  vertical-align: top;
  text-align: left;
  font-weight: 400;
  max-width: 300px;
  overflow: hidden;
  white-space: wrap;
}

.singular-content-table table tr td:first-of-type {
  text-align: right;
  font-weight: 500;
  padding-right: 15px;
}

/* CONTENT-LIST - ul li */
.singular-content-list ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.singular-content-list ul li:hover {
  background-color: var(--hover-color);
  border-color: var(--header-color);
  box-shadow: inset 5px 5px 40px rgba(0, 0, 0, 0.25);
}

.singular-content-list ul li a,
.singular-content-list ul li div {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.singular-content-list ul li a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.singular-content-list .icon {
  height: 50px;
  width: 50px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.35);
  color: var(--hover-light-color);
  border: solid 1px var(--hover-color);
}

.singular-content-loading {
  margin-top: 15px;
  margin-left: 265px;
}

/* CONTENT-LIST LAYOUT - Small */
.singular-content-list ul .layout-small {
  display: grid;
  grid-template-columns: 1fr 60px 70px;
  align-items: left;
  column-gap: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--hover-light-color);
  background-color: var(--hover-light-color);
  padding: 0 0 2px 6px; 
  height: 34px;
  width: 600px;
  line-height: 34px;
  vertical-align: middle;
  margin-top: 3px;
}

/* CONTENT-LIST LAYOUT - Medium */
.singular-content-list ul .layout-medium {
  display: grid;
  grid-template-columns: 50px 1fr 60px 70px;
  align-items: left;
  column-gap: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--hover-light-color);
  background-color: var(--hover-light-color);
  padding: 6px; 
  height: 64px;
  width: 600px;
  line-height: 48px;
  vertical-align: middle;
  margin-top: 5px;
}

.small-playlist-grid {
  grid-template-columns: 300px 140px 40px 70px !important;
}

.medium-playlist-grid {
  grid-template-columns: 50px 260px 120px 40px 70px !important;
}